/* main style */

@import url(https://fonts.bunny.net/css?family=advent-pro:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Advent Pro', sans-serif;
    background-color: rgb(36, 36, 36);
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(142, 111, 43);
}

/* =========================================================================== */
/* containers & pictures */

.error-container {
    max-width: 1400px;
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: black;
    z-index: 10000;
    display: none;
}

.error-text {
    position: relative;
    padding: 5px;
    justify-items: center;
    align-content: center;
    font-size: xx-large;
    user-select: none;
    pointer-events: none;
}

.error-text p {
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-style: italic;
}

.main-container {
    max-width: 1400px;
    height: 100vh;
    width: 100vw;
    position: fixed;
}

.main-container audio {
    display: none;
}

.additional-video {
    position: absolute;
    height: 120vh;
    width: 100vw;
    overflow: hidden;
    background-position: center;
    pointer-events: none;
    user-select: none;
    z-index: 900;
}

#vid.active {
    opacity: 1;
}

video {
    display: block;
}

#vid {
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    filter: blur(16px) brightness(1.5) saturate(0.3);
    z-index: 900;
}

.alt-video {
    position: absolute;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-position: center;
    pointer-events: none;
    user-select: none;
    z-index: 1;
}

#alt-vid {
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 0.2s ease-in;
}

#alt-vid.active {
    opacity: 1;
}

.main-img {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-position: center;
    pointer-events: none;
    user-select: none;
    z-index: 0;
}

.main-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
}

.fade-img {
    position: absolute;
    opacity: 0;
    transition: opacity 20s ease;
    z-index: 1;
}

.full-screen-whiteout {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 99999;
    background-color: white;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

.full-screen-whiteout.active {
    opacity: 1;
    visibility: visible;
}

.fade-img.visible {
    opacity: 1;
}

/* overlay & rotate */

.overlay-img {
    z-index: 9999;
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-position: center;
    pointer-events: none;
    user-select: none;
    background-color: transparent;
}

.overlay-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    background-color: transparent;
    color: transparent;
    mix-blend-mode: screen;
}

#overlay {
    opacity: 0;
    transition: opacity 65s ease;
}

#overlay.active {
    opacity: 1;
}

.rotate-container {
    display: block;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 10;
}

#rotation {
    transition: transform 12s ease-in;
}

#rotation.active {
    transform: rotate(15deg);
    transform-origin: center;
}


/* ================================================================= */
/* shards */

.shard-container {
    position: fixed;
    height: 100%;
    width: 45%;
    right: 0;
    z-index: 10;
}

.shard-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.shard {
    position: relative;
    width: 160px;
    height: 160px;
    display: block;
    justify-items: right;
}

.shard-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 10;
    pointer-events: auto;
    user-select: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.shard-img:hover {
    transform: translateY(-10px);
}

.shard-img img {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.shard-text {
    max-width: 500px;
    user-select: none;
    display: none;
    position: absolute;
    white-space: wrap;
    z-index: 1000;
    pointer-events: none;
    padding: 0.3rem 0.6rem;
    background-color: rgba(0, 0, 0, 0.5);
}

.shard-text p {
    font-size: 1.25rem;
    font-weight: 400;
    color: rgb(255, 219, 111);
}

.shard-btn {
    border-color: transparent;
    background-color: transparent;
}

/* TEXT AREA */

.text-area {
    display: flex;
    position: fixed;
    height: 100%;
    width: 45%;
    left: 0;
    z-index: 10;
}

.text-box-quest {
    position: relative;
    top: 20%;
    left: 3%;
    height: 20%;
    max-height: 40%;
    width: 25%;
    max-width: 40%;
    padding: 5px;
    background-color: aliceblue;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    justify-items: center;
    align-content: center;
    text-align: center;
    font-size: larger;
    pointer-events: none;
    user-select: none;
}

.dialogue-area {
    display: flex;
    position: fixed;
    justify-content: center;
    height: 20%;
    width: 100%;
    bottom: 0;
    z-index: 9998;
}

.dialogue-box {
    position: relative;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0);
    justify-items: center;
    align-content: center;
    font-size: xx-large;
    user-select: none;
    pointer-events: none;
    z-index: 9998;
}

.dialogue-box p {
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-style: italic;
    text-shadow:
    -0.5px -0.5px 0 black,
     0.5px -0.5px 0 black,
    -0.5px  0.5px 0 black,
     0.5px  0.5px 0 black;
    -webkit-text-stroke: 0.5px black
}

.countdown-box {
    user-select: none;
    pointer-events: none;
    display: flex;
    position: fixed;
    justify-content: center;
    height: 20%;
    width: 20%;
    bottom: 0;
    right: 0;
    z-index: 9998;
}

.countdown-box p {
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-style: italic;
    font-size: 5rem;
    text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
    -webkit-text-stroke: 1px black
}

#countdown {
    opacity: 0;
    transition: opacity 0.3s ease;
}

#countdown.active {
    opacity: 1;
}